- name: restart infinispan
  become: yes
  systemd:
    name: infinispan
    state: restarted
    enabled: yes
  listen: restart java service

- name: restart metrics proxy
  become: yes
  systemd:
    name: nginx
    state: restarted
    enabled: yes
  listen:
    - restart infinispan
    - restart java service
