- name: Keyclock server initial configurations
  become: yes
  block:
    - name: Create keycloak user
      user:
        name: "{{ keycloak_system_user }}"
        comment: Keycloak system user
        create_home: no
        home: /
        local: yes
        password_lock: yes
        shell: /sbin/nologin
        state: present
        system: yes

    - name: Install required packages
      package:
        name:
          - git
          - maven
          - python3-lxml
        state: latest


- name: Create keycloak server directory and install code
  become: yes
  block:
    - name: Check if keycloak install directory exists
      stat:
        path: "{{ keycloak_install_dir }}"
      register: keycloak_dir_stat

    - name: Download and extract keycloak
      when: not keycloak_dir_stat.stat.exists
      block:
      - name: Download Keycloak server tar archive and signature file
        get_url:
          url: "{{ item.url }}"
          dest: "{{ item.dest }}"
          http_agent: "wget"
          timeout: 30
          mode: 0444
          owner: root
          group: root
        with_items:
          - url: "{{ keycloak_archive_url }}"
            dest: "{{ keycloak_tmp_file }}"
          - url: "{{ keycloak_archive_sign_url }}"
            dest: "{{ keycloak_tmp_sign_file }}"
        loop_control:
          label: "{{ item.url }} -> {{ item.dest }}"

      - name: Check Keycloak archive's GPG signature
        become_user: nobody
        vars:
          ansible_remote_tmp: "/tmp/${USER}/.ansible"
        block:
          - name: Create temporary directory for GPG
            tempfile:
              state: directory
              prefix: gnupg.
            register: keycloak_gpg_directory

          - name: Copy Keycloak GPG signing key
            copy:
              src: keycloak.asc
              dest: "{{ keycloak_gpg_directory.path }}/keycloak.asc"
              mode: 0400
            register: keycloak_signing_key

          - name: Import Keycloak GPG signing key
            command:
              argv: ["gpg", "--import", "{{ keycloak_signing_key.dest }}"]
            environment:
              GNUPGHOME: "{{ keycloak_gpg_directory.path | quote }}"

          - name: Check Keycloak archive signature
            command:
              argv: ["gpg", "--verify", "{{ keycloak_tmp_sign_file }}", "{{ keycloak_tmp_file }}"]
            environment:
              GNUPGHOME: "{{ keycloak_gpg_directory.path | quote }}"
            register: keycloak_signature_check
            changed_when: false
            ignore_errors: yes

          - name: Remove temporary directory used for GPG
            file:
              path: "{{ keycloak_gpg_directory.path }}"
              state: absent

      - name: Stop playbook if Keycloak archive signature check failed
        fail:
          msg: "Signature check failed. Check previous logs for details."
        when: keycloak_signature_check.rc != 0

      - name: Create keycloak directory if it does not exist
        file:
          path: "{{ keycloak_install_dir }}"
          state: directory
          mode: 0550
          owner: root
          group: "{{ keycloak_system_user }}"

      - name: Unarchive keycloak
        unarchive:
          src: "{{ keycloak_tmp_file }}"
          dest: "{{ keycloak_install_dir }}"
          extra_opts: [ "--strip-components=1" ]
          remote_src: yes
          owner: root
          group: "{{ keycloak_system_user }}"

      - name: Set permissions on keycloak directory
        file:
          path: "{{ keycloak_install_dir }}"
          state: directory
          recurse: yes
          mode: u=rX,g=rX,o-rwx

      - name: Create keycloak server data subdirectory if it does not exist
        file:
          path: "{{ keycloak_data_subdir }}"
          state: directory
          mode: 0770

      - name: Grant Keycloak write permissions on bytecode file(s)
        become: yes
        block:
          - name: Allow keycloak to write in quarkus lib directory
            file:
              path: "{{ keycloak_quarkus_lib_subdir }}"
              state: directory
              mode: 0770

      - name: Recursively set owner / group on keycloak directory
        file:
          path: "{{ keycloak_install_dir }}"
          state: directory
          recurse: yes
          owner: root
          group: "{{ keycloak_system_user }}"

      - name: Remove Keycloak archive and signature files
        file:
          path: "{{ item }}"
          state: absent
        with_items:
          - "{{ keycloak_tmp_file }}"
          - "{{ keycloak_tmp_sign_file }}"


- name: Create keycloak server log subdirectory if it does not exist
  become: yes
  file:
    path: "{{ keycloak_log_subdir }}"
    state: directory
    mode: 0770
    owner: root
    group: "{{ keycloak_system_user }}"
    seuser: system_u
    setype: var_log_t


- name: Add custom theme files
  become: yes
  when: keycloak_custom_theme | default(False)
  block:
    - name: Make sure custom theme git directory exists
      file:
        path: "{{ keycloak_custom_theme_repo_dir }}"
        state: directory
        mode: 0700
        owner: root
        group: root

    - name: Clone the git repository for the custom theme
      git:
        repo: "{{ keycloak_custom_theme.url }}"
        dest: "{{ keycloak_custom_theme_repo_dir }}"
        clone: yes
        update: yes
        version: "{{ keycloak_custom_theme.version }}"
      register: theme_clone

    # Removing the theme directory is required due to a bug in Ansible that
    # prevents it from updating all files in a remote source recursive copy.
    - name: Remove theme directory and cache if theme is updated
      file:
        path: "{{ item }}"
        state: absent
      when: theme_clone.changed
      with_items:
        - "{{ keycloak_tmp_subdir }}/kc-gzip-cache"
        - "{{ keycloak_custom_theme_dir }}"

    - name: Copy the custom theme to the keycloak directory
      copy:
        src: "{{ keycloak_custom_theme_src_dir }}/" # The trailing slash is important here, recursive copy
        dest: "{{ keycloak_custom_theme_dir }}"
        remote_src: yes
      notify: restart keycloak

    - name: Set permissions on themes directory
      file:
        path: "{{ keycloak_custom_theme_dir }}"
        state: directory
        recurse: yes
        mode: u=rX,g=rX,o-rwx
        owner: root
        group: "{{ keycloak_system_user }}"



- name: Set file ACLs on Keycloak server and log files
  become: yes
  block:
    - name: Set default facl permissions on Keycloak directories
      acl:
        path: "{{ item }}"
        default: yes
        etype: other
        permissions: 0
        recursive: yes
        state: present
      with_items:
        - "{{ keycloak_install_dir }}"
        - "{{ keycloak_log_subdir }}"

    - name: Apply facl permissions on Keycloak directories
      acl:
        path: "{{ item }}"
        etype: other
        permissions: 0
        recursive: yes
        state: present
      with_items:
        - "{{ keycloak_install_dir }}"
        - "{{ keycloak_log_subdir }}"
      changed_when: False # Ignore; the files generated when the server is built always have permissions set for "other"


- name: Configure keycloak for cross DC operation
  become: yes
  block:
    - name: Copy the certificate used by the other services
      when: item.content != ""
      copy:
        content: "{{ item.content }}"
        dest: "{{ item.dest }}"
        mode: 0440
        owner: root
        group: "{{ keycloak_system_user }}"
      with_items:
        - service: infinispan
          content: "{{ hostvars[function_groups.infinispan.master].pki_certificate.infinispan | default('') }}"
          dest: "{{ infinispan_trusted_certificate_file }}"
        - service: database
          content: "{{ hostvars[function_groups.database.master].pki_certificate.mariadb | default('') }}"
          dest: "{{ database_trusted_certificate_file }}"
        - service: ldap
          content: "{{ hostvars[function_groups.ldap.master].pki_certificate.ldap | default('') }}"
          dest: "{{ ldap_trusted_certificate_file }}"
      loop_control:
        label: "{{ item.service }}"
      notify: restart keycloak

    - name: Create java keystore based on PKI certificate and key
      openssl_pkcs12:
        action: export
        certificate_path: "{{ pki_configs.keycloak.keycloak.certificate_crt_path }}"
        privatekey_path: "{{ pki_configs.keycloak.keycloak.certificate_key_path }}"
        friendly_name: "{{ keycloak_keystore_cert_alias }}"
        path: "{{ keycloak_keystore_file }}"
        passphrase: "{{ vault.keycloak.keystore.pass }}"
        mode: 0440
        owner: root
        group: "{{ keycloak_system_user }}"
        state: present
      notify: restart keycloak

    - name: Add the keycloak configuration file
      template:
        src: keycloak.conf
        dest: "{{ keycloak_conf_file }}"
        mode: 0440
        owner: root
        group: "{{ keycloak_system_user }}"
      notify: restart keycloak


- name: Install Keycloak custom modules
  become: yes
  when: keycloak_custom_modules | default(False)
  block:
    - name: Prepare common files
      run_once: yes
      block:
        - name: Prepare custom modules repositories directory
          file:
            path: "{{ keycloak_custom_modules_repo_root_dir }}"
            state: directory
            mode: 0750
            owner: root
            group: "{{ keycloak_system_user }}"

        - name: Create maven settings XML file
          template:
            src: maven_settings.xml
            dest: "{{ keycloak_maven_settings_xml }}"
            mode: 0640
            owner: root
            group: "{{ keycloak_system_user }}"

        - name: Create maven repository directory
          file:
            path: "{{ keycloak_maven_repo_dir }}"
            state: directory
            mode: 0770
            owner: root
            group: "{{ keycloak_system_user }}"

    - name: Install custom modules
      include_tasks: install_custom_module.yml
      with_items: "{{ keycloak_custom_modules }}"
      loop_control:
        loop_var: keycloak_custom_module
        label: "{{ keycloak_custom_module.name }}"


- name: Configure keycloak service
  become: yes
  block:
    - name: Add keycloak systemd service file
      template:
        src: keycloak.service
        dest: "{{ systemd_service_dir }}/keycloak.service"
        mode: 0640
        owner: root
        group: root
      notify:
        - systemd reload
        - restart keycloak


- name: Build the Keycloak server image
  become: yes
  become_user: "{{ keycloak_system_user }}"
  command:
    argv: [ "{{ keycloak_server_script_file }}", "build" ]
  vars:
    ansible_remote_tmp: "/tmp/${USER}/.ansible"
  changed_when: False # Ignore; there is no way to tell if the script actually changes files without keeping track of them individually


- name: Start Keycloak for a limited time to create the admin user if it does not exist
  become: yes
  become_user: "{{ keycloak_system_user }}"
  when: not (hostvars[function_groups.database.master].keycloak_admin_exists | default(True))
  run_once: yes
  command:
    argv: [ "/usr/bin/timeout", "-k30s", "{{ keycloak_admin_create_timeout }}", "{{ keycloak_server_script_file }}", "start", "--optimized" ]
  environment:
    KC_BOOTSTRAP_ADMIN_USERNAME: admin
    KC_BOOTSTRAP_ADMIN_PASSWORD: "{{ vault.keycloak.user.admin.pass }}"
  register: first_boot
  failed_when: first_boot.rc != 124
  vars:
    ansible_remote_tmp: "/tmp/${USER}/.ansible"


- name: Mark Keycloak for restart when Infinispan was restarted
  debug:
    msg: "Notify restart of keycloak service"
  when: cluster_servers.infinispan | map("extract", hostvars) | selectattr("infinispan_restarted") | list | length > 0
  changed_when: True
  notify: restart keycloak


- name: Mark Keycloak service for restart if the PKI files have changed
  when: pki_changed
  debug:
    msg: "Notify restart of keycloak service"
  changed_when: True
  notify: restart keycloak


- name: When upgrading restart Keycloak on the first server only to migrate the database
  become: yes
  when: hostvars[function_groups.database.master].keycloak_upgrading | default(False)
  block:
    - name: Stop Keycloak on all servers
      systemd:
        name: keycloak
        state: stopped

    - run_once: yes
      block:
        - name: Reload systemd configuration
          systemd:
            daemon_reload: yes

        - name: Start the Keycloak service
          systemd:
            name: keycloak
            state: started

        - name: Wait until the Keycloak service finishes booting
          wait_for:
            port: "{{ keycloak_https_port }}"
            host: "{{ inventory_hostname }}"
            timeout: "{{ service_start_timeout }}"
            msg: "Keycloak did not start after {{ service_start_timeout }} seconds"
            state: started


- name: Restart keycloak if required, make sure it's started
  become: yes
  block:
    - name: Force flush handlers to reload / restart keycloak service
      meta: flush_handlers

    - name: Make sure the keycloak service is running
      systemd:
        name: keycloak
        state: started
        enabled: yes

    - name: Wait until the keycloak service finishes booting
      wait_for:
        port: "{{ keycloak_https_port }}"
        host: "{{ inventory_hostname }}"
        timeout: "{{ service_start_timeout }}"
        msg: "Keycloak did not start after {{ service_start_timeout }} seconds"
        state: started


- name: Register rsyslog logging for Keycloak service
  set_fact:
    rsyslog_log_configs: "{{ rsyslog_log_configs + [{ 'type': 'file', 'path': keycloak_log_file, 'tag': 'keycloak' }] }}"
