- name: LDAP server initial setup
  become: yes
  block:
    - name: Fail if the system is not RedHat-based
      fail:
        msg: LDAP can only be automatically configured on RedHat-based systems
      when: ansible_facts.os_family != "RedHat"

    - name: Install 389 directory service
      dnf:
        name: "@389-directory-server:stable/default"
        enablerepo: epel-modular
        state: installed
      when:
        - ansible_facts.distribution_major_version == "8"

    - name: Install 389 directory service
      dnf:
        name: 389-ds-base
        state: installed
      when:
        - ansible_facts.distribution_major_version == "9"


- name: Set up LDAP directory server instance
  become: yes
  block:
    - name: Copy dsrc file to server
      template:
        src: dsrc
        dest: "{{ ldap_dsrc_path }}"
        mode: 0400
        owner: root
        group: root

    - name: Check if the instance exists
      command:
        argv: ["/usr/sbin/dsctl", "{{ ldap_instance_name }}", "status"]
      register: ldap_instance_status
      failed_when: False
      changed_when: False

    - name: Create LDAP directory server instance if it does not exist (dsrc not set yet)
      when: >
        ldap_instance_status.stdout | regex_search("No such instance \'" + ldap_instance_name + "\'")
        or ldap_instance_status.stderr | regex_search("No such instance \'" + ldap_instance_name + "\'")
      block:
        - name: Copy directory server template to the server
          template:
            src: ds-template.inf
            dest: "{{ ldap_ds_template_path }}"
            mode: 0400
            owner: root
            group: root

        - name: Create the server instance based on the template
          command:
            argv: ["/usr/sbin/dscreate", "from-file", "{{ ldap_ds_template_path }}"]

        - name: Remove directory server template
          file:
            path: "{{ ldap_ds_template_path }}"
            state: absent


- name: Configure LDAP and start server
  become: yes
  block:
    # state changes are ignored, since these operations would always report as changed
    - name: Fetch certificate used by LDAP service
      block:
        - name: Create temporary file where the certificate will be exported
          tempfile:
            state: file
            prefix: ldapcert_
          register: ldap_certificate_file
          changed_when: false

        - name: Export the LDAP certificate to the temporary file
          command:
            argv: ["/usr/sbin/dsctl", "{{ ldap_instance_name }}", "tls", "export-cert", "--output-file", "{{ ldap_certificate_file.path }}", "Server-Cert"]
          changed_when: false

        - name: Slurp the LDAP certificate
          slurp:
            src: "{{ ldap_certificate_file.path }}"
          register: ldap_certificate
          changed_when: false

        - name: Remove temporary certificate file
          file:
            path: "{{ ldap_certificate_file.path }}"
            state: absent
          changed_when: false

    - name: Update TLS certificate if required
      when: (ldap_certificate.content | b64decode | regex_replace("\r", "")) != pki_certificate.ldap
      block:
      - name: Import server TLS certificate
        command:
          argv: ["/usr/sbin/dsctl", "{{ ldap_instance_name }}", "tls", "import-server-key-cert", "{{ pki_configs.ldap.ldap.certificate_crt_path }}", "{{ pki_configs.ldap.ldap.certificate_key_path }}"]

      - name: Import CA TLS certificate
        command:
          argv: ["/usr/sbin/dsctl", "{{ ldap_instance_name }}", "tls", "import-ca", "{{ pki_configs.ldap.ldap.certificate_crt_path }}", "Server-Cert"]

    - name: Check if the replication Bind DN exists in the file already
      lineinfile:
        path: "{{ ldap_instance_dse_file }}"
        line: "dn: {{ vault.ldap.user.replication.bind_dn }}"
        state: present
      check_mode: yes
      register: replication_user_exists

    - name: Add replication user block in dse.ldif file
      blockinfile:
        path: "{{ ldap_instance_dse_file }}"
        block: "{{ lookup('template', 'ldif/replication-manager') }}"
        marker: "# {mark} Block managed by ansible - replication manager bind DN"
        state: present
        create: no
      when: replication_user_exists.changed

    - name: Start LDAP service
      systemd:
        name: "dirsrv@{{ ldap_instance_name }}"
        state: started
        enabled: yes


- name: Set number of password iterations
  become: yes
  when: ldap_pbkdf2_num_iterations | default(False)
  block:
    - name: Get number of PBKDF2 iterations currently configured
      command:
        argv: ["/usr/sbin/dsconf", "{{ ldap_instance_name }}", "plugin", "pwstorage-scheme", "pbkdf2-sha512", "get-num-iterations"]
      register: ldap_pbkdf2_get_num_iterations
      changed_when: False

    - name: Set number of PBKDF2 iterations if necessary
      command:
        argv: ["/usr/sbin/dsconf", "{{ ldap_instance_name }}", "plugin", "pwstorage-scheme", "pbkdf2-sha512", "set-num-iterations", "{{ ldap_pbkdf2_num_iterations | int }}"]
      when: not (ldap_pbkdf2_get_num_iterations.stdout_lines[0] | regex_search(ldap_pbkdf2_num_iterations_regex))
      vars:
        ldap_pbkdf2_num_iterations_regex: ": {{ ldap_pbkdf2_num_iterations | int }}$"
      register: ldap_pbkdf2_set_num_iterations

    - name: Restart the LDAP service if the number of PBKDF2 iterations was changed
      command:
        argv: ["/usr/sbin/dsctl", "{{ ldap_instance_name }}", "restart"]
      when: ldap_pbkdf2_set_num_iterations.changed



- name: Configure LDAP replication - ALL nodes are masters (max 20)
  become: yes
  throttle: 1
  block:
    - name: Enable changelog (exception catch block)
      block:
        - name: Enable changelog
          ldap_entry:
            dn: "cn=changelog5,cn=config"
            objectClass:
              - "top"
              - "extensibleObject"
            state: present
            server_uri: "{{ ldap_server_uri }}"
            attributes:
              changetype: "add"
              cn: "changelog5"
              nsslapd-chalogdir: "/var/lib/dirsrv/slapd-{{ ldap_instance_name }}/changelogdb"
              nsslapd-changelogmaxage: "10d"
          register: changelog_create_out
          failed_when:
            - changelog_create_out.failed
            - not (changelog_create_out.details | regex_search("Changelog configuration is part of the backend configuration"))
      rescue:
        - name: Check error reason
          debug:
            msg: "{{ changelog_create_out }}"

    - name: Enable supplier replica
      ldap_entry:
        dn: "cn=replica,cn={{ ldap_suffix_escaped }},cn=mapping tree,cn=config"
        objectClass:
          - "top"
          - "nsds5replica"
          - "extensibleObject"
        state: present
        server_uri: "{{ ldap_server_uri }}"
        attributes:
          changetype: "add"
          cn: "replica"
          nsds5replicaroot: "{{ ldap_root_suffix }}"
          nsds5replicaid: "{{ ldap_unique_index }}"
          nsds5replicatype: "3"
          nsds5flags: "1"
          nsds5replicapurgedelay: "604800"
          nsds5replicabinddn: "{{ vault.ldap.user.replication.bind_dn }}"

    - name: Define replication agreements
      ldap_entry:
        dn: "cn=ReplicaAgreeemnt_{{ item }},cn=replica,cn={{ ldap_suffix_escaped }},cn=mapping tree,cn=config"
        objectClass:
          - "top"
          - "nsds5ReplicationAgreement"
        state: present
        server_uri: "{{ ldap_server_uri }}"
        attributes:
          nsds5replicahost: "{{ item }}"
          nsds5replicaport: "{{ ldap_listen_port }}"
          nsds5replicabinddn: "{{ vault.ldap.user.replication.bind_dn }}"
          nsds5replicabindmethod: "SIMPLE"
          nsds5replicaroot: "{{ ldap_root_suffix }}"
          description: "Replication aggreement between {{ inventory_hostname }} and {{ item }}"
          nsds5replicaupdateschedule: "0000-2359 0123456"
          nsds5replicatedattributelist: "(objectClass=*) $ EXCLUDE authorityRevocationList accountUnlockTime memberof"
          nsds5replicatedattributelisttotal: "(objectClass=*) $ EXCLUDE accountUnlockTime"
          nsds5replicacredentials: "{{ vault.ldap.user.replication.pass }}"
          nsds5beginreplicarefresh: "start"
      with_items: "{{ groups.ldap | difference([inventory_hostname]) }}"


- name: Create LDAP entries
  become: yes
  run_once: yes
  block:
    - name: Create LDAP user for keycloak service
      ldap_entry:
        dn: "{{ ldap_keycloak_user }}"
        objectClass:
          - "top"
          - "person"
          - "organizationalPerson"
          - "inetOrgPerson"
        state: present
        server_uri: "{{ ldap_server_uri }}"
        attributes:
          cn: "Keycloak service user"
          sn: "Keycloak"
          description: "Keycloak service bind user"
          userPassword: "{{ vault.ldap.user.keycloak.pass }}"

    - name: Create a organizational units
      ldap_entry:
        dn: "ou={{ item }},{{ ldap_root_suffix }}"
        objectClass:
          - "top"
          - "organizationalUnit"
        state: present
        server_uri: "{{ ldap_server_uri }}"
      with_items:
        - groups
        - permissions
        - services
      loop_control:
        label: "Organizational unit: {{ item }}"

    - name: Create people organization unit. Grant keycloak user access to it
      ldap_entry:
        dn: "ou=people,{{ ldap_root_suffix }}"
        objectClass:
          - "top"
          - "organizationalUnit"
        state: present
        server_uri: "{{ ldap_server_uri }}"
        attributes:
          aci: "{{ ldap_keycloak_user_aci }}"


- name: Register rsyslog logging for LDAP service
  set_fact:
    rsyslog_log_configs: "{{ rsyslog_log_configs + [{ 'type': 'journal', 'program_names': 'ns-slapd' }] }}"
