- name: Add prometheus TLS certificates expoters (if enabled)
  set_fact:
    pki_service_specific_configs: >-
      {{
        pki_service_specific_configs | combine({"all": [{
          "application": "prometheus_exporters",
          "file_owner": "root",
          "file_group": prometheus_system_user,
        }]}, list_merge="append_rp")
      }}
  when:
    - prometheus_monitor
    - prometheus_exporters_tls

- name: Configure variables for server PKI configurations
  set_fact:
    pki_configs: |
      {% set group = item.0.key %}
      {% set config  = item.1 %}
      {% set identifier = config.identifier | default(config.application) %}
      {% set root_dir = "/etc/pki/" + config.application %}
      {{
        pki_configs | default({}) | combine({group: {
          identifier: {
            "group": group,
            "application": config.application,
            "identifier": identifier,

            "root_dir": root_dir,
            "private_dir": root_dir + "/private",
            "trusted_dir": root_dir + "/trusted",

            "certificate_key_path": root_dir + "/private/" + (config.key_file_name | default(pki_key_file_name)),
            "certificate_csr_path": root_dir + "/" + (config.csr_file_name | default(pki_csr_file_name)),
            "certificate_crt_path": root_dir + "/" + (config.crt_file_name | default(pki_crt_file_name)),
            "dhparams_path": root_dir + "/dhparams.pem",

            "file_owner": config.file_owner | default(pki_file_owner),
            "file_group": config.file_group | default(pki_file_group),
            "dir_mode": config.dir_mode | default(pki_dir_mode),
            "file_mode": config.file_mode | default(pki_file_mode),
            "key_type": config.key_type | default(pki_key_type),
            "key_size": config.key_size | default(pki_key_size),

            "country_name": config.country_name | default(pki_country_name),
            "organization_name": config.organization_name | default(pki_organization_name),
            "locality_name": config.locality_name | default(pki_locality_name),
            "common_name": config.common_name | default(group),
            "subject_alt_names": config.subject_alt_names | default([group] + groups[group]) | map('regex_replace', '^', 'DNS:') | list,

            "seuser": config.file_seuser | default(pki_file_seuser),
            "setype": config.file_setype | default(pki_file_setype),
          }
        }}, list_merge='append_rp', recursive=True)
      }}
  with_subelements:
    - "{{ pki_service_specific_configs | dict2items | selectattr('key', 'in', all_group_names) }}"
    - value
  loop_control:
    label: "{{ item.0.key }}"

- name: Register flattened file configs
  set_fact:
    pki_file_list: "{{ pki_configs.values() | map('dict2items') | flatten | map(attribute='value') }}"


- name: Print PKI configurations (for verbosity 2 or higher)
  debug:
    msg:
      pki_configs: "{{ pki_configs }}"
      pki_file_list: "{{ pki_file_list }}"
    verbosity: 2


- name: Create PKI file directories
  become: yes
  file:
    path: "{{ item.1[item.0] }}"
    state: directory
    mode: "{{ item.1.dir_mode }}"
    seuser: "{{ item.1.seuser }}"
    setype: "{{ item.1.setype }}"
  with_cartesian:
    - [ 'root_dir', 'private_dir', 'trusted_dir' ]
    - "{{ pki_file_list }}"
  loop_control:
    label: "{{ item[1][item.0] }}"
  notify: pki changed


- name: Create PKI certificate files
  include_tasks: create_pki_cert_files.yml
  when: inventory_hostname == (groups[item.group] | first)
  with_items: "{{ pki_file_list }}"
  loop_control:
    label: "{{ item.group }} - {{ item.identifier }}"


- name: Copy PKI certificate files to other nodes
  include_tasks:
    file: copy_ssl_files.yml
  with_cartesian:
    - "{{ copied_files }}"
    - "{{ pki_file_list }}"
  loop_control:
    label: "{{ item.1[item.0.key] }}"
  vars:
    copied_files:
      - key: certificate_key_path
      - key: certificate_csr_path
      - key: certificate_crt_path
        fact_key: pki_certificate


- name: Create Diffie-Helman parameters on first host and slurp contents
  become: yes
  run_once: yes
  when: not (pki_dhparams | default(""))
  block:
    - name: Find if the Diffie-Hellamn parameters have been generated for any service
      stat:
        path: "{{ item.dhparams_path }}"
      with_items: "{{ pki_file_list }}"
      loop_control:
        label: "{{ item.dhparams_path }}"
      register: pki_dhparams_stat

    - name: Create Diffie-Hellman parameters
      openssl_dhparam:
        path: "{{ pki_config.dhparams_path }}"
        size: "{{ pki_config.key_size }}"
        mode: "{{ pki_config.file_mode }}"
        state: present
      when: not (pki_dhparams_stat.results | map(attribute='stat.exists') is any)
      register: dhparams_generated
      vars:
        pki_config: "{{ pki_file_list | first }}"
      notify: pki changed

    - name: Slurp Diffie-Hellman parameters
      slurp:
        src: |-
          {% set paths = pki_dhparams_stat.results | json_query("[?stat.exists].stat.path") %}
          {{ paths[0] if paths | length > 0 else dhparams_generated.filename }}
      register: dhparams

    - name: Decode Diffie-Hellman parameters
      set_fact:
        pki_dhparams: "{{ dhparams.content | b64decode }}"


- name: Copy Diffie-Hellman parameters to all servers
  become: yes
  copy:
    content: "{{ pki_dhparams }}"
    dest: "{{ item.dhparams_path }}"
    mode: "{{ item.file_mode }}"
  with_items: "{{ pki_file_list }}"
  loop_control:
    label: "{{ item.dhparams_path }}"
  notify: pki changed
