infinispan_version: 15.0.22.Final
infinispan_archive_checksum: sha256:16364c0df5535a76636c547bb00be2ec39e708fdc8f4cf4fd8e88d44686be7e5
infinispan_archive_url: "https://github.com/infinispan/infinispan/releases/download/{{ infinispan_version }}/infinispan-server-{{ infinispan_version }}.zip"
infinispan_install_base_dir: /opt           # the archive already has a top-level directory in it
infinispan_install_dir: "{{ infinispan_install_base_dir }}/infinispan-server-{{ infinispan_version }}"
infinispan_tmp_file: "/tmp/infinispan-{{ infinispan_version }}.zip"

infinispan_persistence_data_dir: "/opt/infinispan-persistence"

infinispan_server_bin_subdir:  "{{ infinispan_install_dir }}/bin"
infinispan_server_conf_subdir: "{{ infinispan_install_dir }}/server/conf"

infinispan_server_log_subdir:  "/var/log/infinispan"
infinispan_server_log_file: "{{ infinispan_server_log_subdir }}/server.log"
infinispan_server_log_json_file: "{{ infinispan_server_log_subdir }}/server.log.json"
infinispan_log_file: "{{ infinispan_server_log_json_file if rsyslog_infinispan_file_format_json else infinispan_server_log_file }}"

infinispan_cli: "{{ infinispan_server_bin_subdir }}/cli.sh"
infinispan_server_script: "{{ infinispan_server_bin_subdir }}/server.sh"
infinispan_keystore: "{{ infinispan_server_conf_subdir }}/server.jks"

# ignore dangling lock files; meant to avoid errors after system reboot
# may cause some issues if service is started after improperly stopped
infinispan_unclean_shutdown_action: IGNORE

# synchronous backups have better consistency
infinispan_backup_strategy: SYNC
# backup operations time out after 10 seconds
infinispan_backup_timeout: 10000
# take site offline after 10 failures
infinispan_backup_failures_till_offline: 10
# wait min 60s before taking taking site offline
infinispan_backup_wait_till_offline: 60000
# throw exceptions when backup operations fail and stop write to local cache (FAIL)
# or throw warnings on failure, but write to local cache (WARN)
# FAIL is recommended, but since cache failures cannot be automatically recovered, it's
# not ideal, as Keycloak would stop responding until the issue is resolved
infinispan_backup_failure_policy: WARN
# maximum amount of time a cache lock can be held - in milliseconds
infinispan_locking_acquire_timeout: 500
# transactions are rolled back on failure (see Infinispan Operator docs in Keycloak High Availability docs)
infinispan_transaction_mode: NON_XA
# pessimistic locking is the only supported mode, as optimistic has high network requirements
infinispan_transaction_locking: PESSIMISTIC

infinispan_tcpping_server_list: "{{ groups.infinispan | product(['[%d]' % infinispan_tcpping_port]) | map('join') | join(',') }}"
infinispan_keystore_cert_alias: server

infinispan_limit_no_file: 10000
infinispan_file_store_limit_no_files: "{{ infinispan_limit_no_file / 5 }}"
infinispan_file_store_data_file_size: "{{ 16 * 1024 * 1024 }}" # maximum 16MB

infinispan_users:
  - admin
  - monitor
  - "{{ infinispan_keycloak_user }}"

infinispan_java_opts: "{{ java_common_mem_opts}} -server -Djava.net.preferIPv4Stack=true -Djava.awt.headless=true"
