- name: Fail if Java services would not have enough resources to run
  fail:
    msg: "The service cannot run with just {{ java_max_heap_size }} heap memory"
  when: java_max_heap_size|int < java_min_mem|int

- name: Install openjdk {{ java_version }}
  become: yes
  package:
    name:
      - "{{ 'java-%s-openjdk' % java_version }}"
      - "{{ 'java-%s-openjdk-devel' % java_version }}"
    state: latest
  register: install_out

- name: Set fact for java home directory
  set_fact:
    java_home_dir: "/usr/lib/jvm/java-{{ java_version }}-openjdk"
