- name: Install and configure reverse proxy service
  include_tasks: "{{ load_balancer_service }}.yml"


- name: Add the certificate used by the keycloak servers
  become: yes
  copy:
    content: "{{ hostvars[function_groups.keycloak.master].pki_certificate.keycloak }}"
    dest: "{{ keycloak_trusted_certificate_path }}"
    mode: "{{ pki_configs.load_balancers.load_balancer.file_mode }}"
    owner: "{{ pki_configs.load_balancers.load_balancer.file_owner }}"
    group: "{{ pki_configs.load_balancers.load_balancer.file_group }}"
    seuser: "{{ pki_configs.load_balancers.load_balancer.seuser }}"
    setype: "{{ pki_configs.load_balancers.load_balancer.setype }}"
  notify: restart load balancer


- name: Set sysctl parameters
  become: yes
  sysctl:
    name: "{{ item.key }}"
    value: "{{ item.value }}"
    state: present
    sysctl_set: yes
  with_dict: "{{ server_sysctl_params }}"


- name: Mark load balancer service for restart if the PKI files have changed
  debug:
    msg: "Notify restart of load balancer service"
  when: pki_changed
  changed_when: True
  notify: restart load balancer


- name: Ensure load balancer is started
  become: yes
  service:
    name: "{{ load_balancer_service }}"
    state: started
    enabled: yes


- name: Register rsyslog logging for load balancer service
  set_fact:
    rsyslog_log_configs: "{{ rsyslog_log_configs + [{ 'type': 'journal', 'program_names': load_balancer_service }] }}"
