# PKI parameters
pki_country_name: XX
pki_organization_name: Test-Organization
pki_locality_name: Some-Locality

# Default values for PKI file generation
pki_key_file_name: server.key
pki_csr_file_name: server.csr
pki_crt_file_name: server.crt
pki_file_owner: root
pki_file_group: root
pki_dir_mode: "0510"
pki_file_mode: "0440"
pki_file_seuser: system_u
pki_file_setype: cert_t
pki_key_type: RSA
pki_key_size: 4096

# Configuration overrides specific to each service
pki_service_specific_configs:
  database:
    - application: mariadb
      file_group: "{{ database_system_user }}"
    - application: stunnel
      file_group: "{{ database_system_user }}"
  infinispan:
    - application: infinispan
  keycloak:
    - application: keycloak
  ldap:
    - application: ldap
  load_balancers:
    - application: load_balancer
      subject_alt_names:
        - "{{ service_hostname_dns }}"
      common_name: "{{ service_hostname_dns }}"
    - application: load_balancer
      identifier: load_balancer_dummy
      country_name: ""
      organization_name: ""
      locality_name: ""
      common_name: ""
      subject_alt_names:
        - "Web-Server"
      csr_file_name: server-dummy.csr
      crt_file_name: server-dummy.crt
