##
## This file is managed by ansible. Manual overrides may be overwritten
##

[Unit]
Description=DB Exporter
After=network-online.target

[Service]
User={{ prometheus_system_user }}
ExecStart={{ prometheus_exporters.database.install_dir }}/mysqld_exporter \
	--config.my-cnf "{{ prometheus_exporters.database.conf_file }}" \
	--collect.global_status \
	--collect.info_schema.innodb_metrics \
	--collect.auto_increment.columns \
	--collect.info_schema.processlist \
	--collect.binlog_size \
	--collect.info_schema.tablestats \
	--collect.global_variables \
	--collect.info_schema.query_response_time \
	--collect.info_schema.userstats \
	--collect.info_schema.tables \
	--collect.perf_schema.tablelocks \
	--collect.perf_schema.file_events \
	--collect.perf_schema.eventswaits \
	--collect.perf_schema.indexiowaits \
	--collect.perf_schema.tableiowaits \
	--collect.slave_status \
{% if prometheus_exporters_tls %}
	--web.config.file="{{ prometheus_exporter_web_conf_file }}" \
{% endif %}
	--web.listen-address=":{{ prometheus_exporters.database.port }}"

[Install]
WantedBy=default.target
