##
## This file is managed by ansible. Manual overrides may be overwritten
##

[Unit]
Description=HAProxy Exporter
After=network-online.target

[Service]
User={{ prometheus_system_user }}
ExecStart={{ prometheus_expoters.haproxy.install_dir }}/haproxy_exporter \
	--haproxy.scrape-uri=unix:/run/haproxy/admin.sock \
	--web.listen-address=":{{ prometheus_exporters.haproxy.port }}"

[Install]
WantedBy=default.target
