##
## This file is managed by ansible. Manual overrides may be overwritten
##

[client]
user={{ database_prometheus_user }}
password={{ vault.database.user.exporter.pass }}
host={{ inventory_hostname }}

ssl-ca={{ pki_configs.database.certificate_crt_path }}
