##
## This file is managed by ansible. Manual overrides may be overwritten
##

[Unit]
Description=Node Exporter
After=network-online.target

[Service]
User={{ prometheus_system_user }}
ExecStart={{ prometheus_exporters.node.install_dir }}/node_exporter \
	--web.listen-address=":{{ prometheus_exporters.node.port }}"

[Install]
WantedBy=default.target
