##
## This file is managed by ansible. Manual overrides may be overwritten
##

# This script allows you to run Keycloak Server as a systemd service.
# Modify environment properties in this script as appropriate.
# Copy this script to the following location: /etc/systemd/system
# Activate with 'systemctl daemon-reload'
#               'systemctl start|enable infinispan'

[Unit]
Description=Keycloak Server Service
After=syslog.target network-online.target mariadb.service infinispan.service

[Service]
Environment=JAVA_HOME="{{ java_home_dir }}"
Environment=JAVA_OPTS="{{ keycloak_java_opts }}"
ExecStart=/bin/bash "{{ keycloak_server_script_file }}" start --optimized
# Inspired by https://unix.stackexchange.com/a/584965
# For clarity, ":" is the noop operator, and "<" is the redirect operator
ExecStartPost=/bin/bash -c 'while ! :< "/dev/tcp/{{ interfaces_external_ip|quote }}/{{ keycloak_https_port|quote }}"; do sleep 1; done &>/dev/null'
Type=simple
User={{ keycloak_system_user }}
LimitNOFILE=102642
SyslogIdentifier=keycloak

# Security settings
{{ systemd_service_security_settings }}

[Install]
WantedBy=multi-user.target

# vim: ft=conf
