##
## This file is managed by ansible. Manual overrides may be overwritten
##

# This script allows you to run Keycloak Server as a systemd service.
# Modify environment properties in this script as appropriate.
# Copy this script to the following location: /etc/systemd/system
# Activate with 'systemctl daemon-reload'
#               'systemctl start|enable infinispan'

[Unit]
Description=Keycloak Server Service
After=syslog.target network-online.target

[Service]
Environment=JAVA_OPTS="{{ keycloak_java_opts }}"
ExecStart=/bin/bash "{{ keycloak_server_script_file }}" -Djboss.site.name="{{ keycloak_site_name }}" start --optimized
Type=simple
User={{ keycloak_system_user }}
LimitNOFILE=102642
PIDFile=/var/run/keycloak/keycloak.pid

[Install]
WantedBy=multi-user.target

# vim: ft=conf
