- name: Install packages and set up host entries
  become: yes
  block:
    - name: Install EPEL Release package repository
      package:
        name: epel-release
        state: latest

    - name: Install common system packages
      package:
        name:
          - acl
          - chrony
          - gzip
          - python3
          - python3-libsemanage
          - python3-pyOpenSSL
          - rsync
          - tar
          - unzip
          - vim
          - zip
        state: latest

    - name: Add hosts entries
      lineinfile:
        path: /etc/hosts
        state: present
        regexp: "{{ item.name }}"
        line: "{{ item.ip }} {{ item.name }}"
      loop_control:
        label: "{{ item.name }} -> {{ item.ip }}"
      with_items: "{{ groups.all | map('extract', hostvars) | list | json_query('[*].{ name: inventory_hostname, ip: interfaces_internal_ip }') }}"

    - name: Add custom hosts entries
      lineinfile:
        path: /etc/hosts
        state: present
        regexp: "{{ item.name }}"
        line: "{{ item.ip }} {{ item.name }}"
      with_items: "{{ all_group_names | map('extract', hosts_empty_ruleset | combine(custom_hosts_entries)) | flatten | unique | map('dict2items', 'name', 'ip') }}"
      vars:
        hosts_empty_ruleset: "{{ dict(all_group_names | zip_longest([], fillvalue=[])) }}"


- name: Configure service for NTP synchronization
  become: yes
  block:
    - name: Copy chrony configuration template
      template:
        src: chrony.conf
        dest: /etc/chrony.conf
        mode: 0644
        owner: root
        group: root
      notify: restart chronyd

    - name: Make sure chrony is started and enabled
      service:
        name: chronyd
        state: started
        enabled: yes


- name: Set system journal persistency to persistent
  become: yes
  ini_file:
    path: /etc/systemd/journald.conf
    section: Journal
    option: Storage
    value: persistent
    state: present
  notify: restart systemd-journald


- name: Clean Keycloak path prefix variable (ensure it has a leading slash)
  set_fact:
    keycloak_path_prefix: "/{{ keycloak_path_prefix | regex_replace('/+', '/') | regex_replace('^/|/$', '') }}"
